extends template/main

block variables
    -var title = "Гарантии автосервиса"
block content
    +breadcrumbs
    section.guarantee
        .container
            .d-flex.flex-column.gap-lg-30.gap-sm-20.gap-10
                h1.fs-lg-30.fs-sm-20.fs-18.fw-bl.text-g.mb-0 Гарантии автосервиса
                .content
                    p Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности требуют определения и уточнения системы обучения кадров, соответствует насущным потребностям. Задача организации, в особенности же новая модель организационной деятельности способствует подготовки и реализации модели развития.
                    p Не следует, однако забывать, что рамки и место обучения кадров требуют определения и уточнения форм развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития.   
                .guarantee-advantages.d-flex.flex-column.flex-lg-row.gap-xl-30.gap-sm-20.gap-10
                    each val in [{icon: 'file-bookmark-alt', title: 'Сертификат лицензированного автосервиса'}, {icon: 'shield-exclamation', title: 'Лицензия на выполнение работ'}, {icon: 'shield-exclamation', title: 'Сертификат <br> качества'}]
                        .guarantee-advantages-item.rounded-10.bg-grey.p-xl-30.p-md-20.p-10.d-flex.align-items-center.gap-md-20.gap-10
                            .rounded-circle.p-10.d-flex.bg-white
                                i.icon.fs-md-40.fs-20.text-main(class="u_"+val['icon'])
                            .fs-sm-14.fs-12.fw-sb.text-uppercase!= val['title']                    
                .content
                    .bordered
                        p С другой стороны рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Не следует, однако забывать, что рамки и место обучения кадров в значительной степени обуславливает создание системы обучения кадров, соответствует насущным потребностям.                
                    .row.g-xxl-40.g-md-20.g-10
                        .col-md-6
                            ol
                                each val in ['Значимость этих проблем настолько очевидна.', 'Что сложившаяся структура организации требуют определения.',  'Позиций, занимаемых участниками в отношении поставленных задач.', 'Повседневная практика показывает, что новая модель.']
                                    li= val
                        .col-md-6
                            ul
                                each val in ['Значимость этих проблем настолько очевидна.', 'Что сложившаяся структура организации требуют определения.',  'Позиций, занимаемых участниками в отношении поставленных задач.', 'Повседневная практика показывает, что новая модель.']
                                    li= val
    .section
        .container
            .row.g-sm-20.g-15.flex-nowrap.overflow-auto
                each val in [{title: '10 лет', desc: 'опыта'}, {title: '50 000', desc: 'постоянных клиентов'}, {title: '24 месяца', desc: 'гарантии на все работы'}, {title: 'свой склад', desc: 'запчастей'}]
                    .col-lg-3.col-auto
                        .baner-info-item.rounded-10.bg-grey.p-xxl-40.p-xl-30.px-20.py-15.d-flex.flex-column.justify-content-center.gap-lg-10.gap-sm-5
                            .fs-xl-24.fs-sm-20.fs-18.fw-bk.text-uppercase.text-g= val['title']
                            .fs-sm-14.fs-12.fw-rg= val['desc']
    +advantages
    +booking
    +reviews